.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.item {
  margin: 0px 15px;
  text-align: center;
  img {
    width: 64px;
    height: 64px;
  }
  a:hover {
    color: blue;
  }
}

.card {
  margin: 0.4rem;
  img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
    &:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}
